body{
  margin: 0;
  width: 100vw;
}
#main{
  width: 100%;
  height: 100vh;
  background-size: 100%;
  box-sizing:border-box;
  text-align: center;
  padding: 5%;
}
#main a{
  text-decoration: none;
  color: inherit;
}


/* LANDSCAPE ORIENTATION */ /* Large */
@media screen and (min-width: 901px) and (orientation: landscape) {
  #main{
    background-image: url('images/coffee1-large_large.jpg');
    font-size: 5em;
  }
}

/* LANDSCAPE ORIENTATION */ /* Medium */
@media screen and (min-width: 371px) and (max-width: 900px) and (orientation: landscape)  {
  #main{
    background-image: url('images/coffee1-medium_medium.jpg');
    font-size: 3em;
  }
}

/* LANDSCAPE ORIENTATION */ /* Small */
@media screen and (max-width: 370px) and (orientation: landscape)  {
  #main{
    background-image: url('images/coffee1-medium_medium.jpg');
    font-size: 2em;
  }
}

/* PORTRAIT ORIENTATION */ /* Large */
@media screen and (min-width: 901px) and (orientation: portrait) {
  #main{
    background-image: url('images/coffee1-large_large.jpg');
    font-size: 5em;
  }
}

/* PORTRAIT ORIENTATION */ /* Medium */
@media screen and (min-width: 371px) and (max-width: 900px) and (orientation: portrait)  {
  #main{
    background-image: url('images/coffee1-medium_medium.jpg');
    font-size: 3em;
  }
}

/* PORTRAIT ORIENTATION */ /* Small */
@media screen and (max-width: 370px) and (orientation: portrait)  {
  #main{
    background-image: url('images/coffee1-medium_medium.jpg');
    font-size: 2em;
  }
}
